<header class="header">
  <img src="../../../assets/logo.svg" alt="Entertainment Web App logo" class="logo">
  <nav class="navigation">
    <a class="link"><img src="../../../assets/icon-nav-home.svg" alt="Home Page Icon" class="icon"></a>
    <a class="link"><img src="../../../assets/icon-nav-movies.svg" alt="Movies Page Icon" class="icon"></a>
    <a class="link"><img src="../../../assets/icon-nav-tv-series.svg" alt="Tv Series Page Icon" class="icon"></a>
    <a class="link"><img src="../../../assets/icon-nav-bookmark.svg" alt="Bookmark Page Icon" class="icon"></a>
  </nav>
  <img src="../../../assets/image-avatar.png" alt="Avatar" class="avatar">
</header>
