.header{
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--blue-2);
}

.header .logo{
  width: 25px;
  height: 20px;
}

.header .navigation{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header .navigation .link{
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center
}

.header .navigation .link svg{
  transform: scale(.8);
}

.header .navigation .link.active svg path{
  fill: white;
}

.header .navigation .link .icon.active{
  width: 100%;
  height: 100%;
}

.header .avatar{
  width: 24px;
  height: 24px;
  border: 1px solid var(--white);
  border-radius: 100%;
}
