.search-bar-container{
  width: 257px;
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
}

.search-bar-container .search-icon{
  width: 24px;
  height: 24px;
}

.search-bar-container .search-input{
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding-bottom: .7rem;
  font-size: 1rem;
  font-weight: 300;
  color: var(--white);
}

.search-bar-container .search-input::placeholder{
  font-size: 1rem;
  font-weight: 300;
  color: var(--white);
  opacity: .5;
}

.search-bar-container .search-input:focus{
  border-bottom: 1px solid var(--blue-3);
}

@media(min-width: 768px){

  .search-bar-container{

    gap: 1.5rem;
    padding: 0;
  }

  .search-bar-container .search-icon{
    width: 32px;
    height: 32px;
  }

  .search-bar-container .search-input{
    font-size: 1.5rem;
  }

  .search-bar-container .search-input::placeholder{
    font-size: 1.5rem;
  }
}

@media(min-width: 1440px){

  .search-bar-container{
    margin-top: 2.65rem;
  }
}
