.container{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.container .title{
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--white);
  letter-spacing: -.31px;
}

.container .imageContainer{
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
}


.container .imageContainer::-webkit-scrollbar{
  display: none;
}


.container .imageContainer img{
  width: 240px;
}
