.container{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.container .title{
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--white);
  letter-spacing: -.31px;
}

.container .imagesContainer{
  width: 100%;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.container .imagesContainer::-webkit-scrollbar{
  display: none;
}

.container .imagesContainer .leftButton svg,
.container .imagesContainer .rightButton svg{
  fill: white;
  scale: 1.2;
}

.container .imagesContainer .leftButton,
.container .imagesContainer .rightButton{
  display: none;
  position: absolute;
  top: 110px;
  width: 40px;
  height: 150px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 0 40px 40px 0;
  backdrop-filter: blur(10px);
  z-index: 50;
}

.container .imagesContainer .leftButton{
  left: 0;
}

.container .imagesContainer .rightButton{
  right: 0;
  rotate: 180deg;
}

.container .imagesContainer .single-imageContainer{
  height: 140px;
  position: relative;
}

.container .imagesContainer .single-imageContainer .card{
  width: 240px;
  height: 140px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.container .imagesContainer .single-imageContainer .bookmark-icons-div{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  background-color: hsl(223, 30%, 9%, 60%);
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
  cursor: pointer;
}

.container .imagesContainer .single-imageContainer .content-info{
  position: absolute;
  left: 25px;
  bottom: 25px;
}

.container .imagesContainer .single-imageContainer .content-info .content-info_info{
  display: flex;
  align-items: center;
  gap: 1.3rem;
  margin-bottom: .3rem;
}

.container .imagesContainer .single-imageContainer .content-info .content-info_info .info{
  font-size: .75rem;
  font-weight: 300;
  color: hsl(0, 0%, 100%, 75%);
}

.container .imagesContainer .single-imageContainer .content-info .content-info_info .info.rating{
  position: relative;
}

.container .imagesContainer .single-imageContainer .content-info .content-info_info .icon{
  display: flex;
  align-items: center;
  gap: .5rem;
  position: relative;
}

.container .imagesContainer .single-imageContainer .content-info .content-info_info .icon::before{
  content: "";
  position: absolute;
  top: 50%;
  left: -11px;
  translate: 0 -50%;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: hsl(0, 0%, 100%, 50%);
}

.container .imagesContainer .single-imageContainer .content-info .content-info_info .rating::before{
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  translate: 0 -50%;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: hsl(0, 0%, 100%, 50%);
}


.container .imagesContainer .single-imageContainer .content-info .content-info_info .icon img{
  width: 12px;
  height: 12px;
}

.container .imagesContainer .single-imageContainer .content-info .content-info_info .icon span{
  font-size: .75rem;
  font-weight: 300;
  color: hsl(0, 0%, 100%, 75%);
}

.container .imagesContainer .single-imageContainer .content-info .content-info_title{
  font-size: .9375rem;
  font-weight: 500;
  color: var(--white);
}

@media(min-width: 768px){

  .container{
    gap: 1.8rem;
  }

  .container .title{
    font-size: 2rem;
    letter-spacing: -.5px;
  }

  .container .imagesContainer{
    gap: 2.8rem;
  }

  .container .imagesContainer .single-imageContainer{
    height: 230px;
  }

  .container .imagesContainer .single-imageContainer .card{
    width: 470px;
    height: 230px;
  }
}

@media(min-width: 1440px){

  .container{
    width: calc(100vw - 96px - 2rem);
  }

  .container button svg{
    fill: white;
    scale: 1.2;
  }

  .container .imagesContainer:hover .leftButton,
  .container .imagesContainer:hover .rightButton{
    display: block;
  }
}
