.container{
  width: 100%;
  display: flex;
  flex-direction: column;

}


@media(min-width: 768px){

  .navbar{
    width: 93%;
    align-self: center;
    margin-top: 1rem;
  }

  .components-container{
    width: 93%;
    align-self: center;
  }

}
