<div class="container">
  <img src="../../../assets/logo.svg" class="logo" alt="Entertainment Web App Logo">
  <form class="form">
    <div class="form-container">
      <h1 class="form-title">Login</h1>
      <div class="form-inputs-container">
        <input type="email" class="input" placeholder="Email address">
        <input type="password" class="input" placeholder="Password">
      </div>
      <button class="auth-button" type="button">
        Login to your account
      </button>
      <p class="question">Don’t have an account? <a class="action">Sign Up</a></p>
    </div>
  </form>
</div>
