*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Outfit', sans-serif;
  caret-color: var(--red);
}

html{
  height: 100vh;
  background-color: var(--blue-1);
}

p,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

:root{
  --white: hsl(0, 0%, 100%);
  --red: hsl(0, 97%, 63%);
  --blue-1: hsl(223, 30%, 9%);
  --blue-2: hsl(223, 36%, 14%);
  --blue-3: hsl(223, 23%, 46%);
}
